*.iml
target/
.idea/
**/*.iml
.classpath
.project
.apt_generated/
.settings/
.metadata/
events/
.factorypath
**/xtend-gen/
**/xtext-gen/
**/emf-gen/
**/node_modules/
**/VAADIN/widgetsets/
**/VAADIN/themes/**/addons.scss
**/VAADIN/themes/**/styles.css
generated/
WebContent/
.vaadin-designer2
**/.springBeans
sapl-web/src/main/resources/static/orion/**
sapl-grammar/.antlr-generator-3.2.0-patch.jar
.antlr-generator-3.2.0-patch.jar
phantomjsdriver.log
node_modules/
**/package.json
**/package-lock.json
sapl-spring-security/src/test/java/io/sapl/scratchpad/**
