*.iml
target/
.idea/
**/*.iml
.classpath
.project
.apt_generated/
.settings/
events/
.factorypath
**/xtend-gen/
**/xtext-gen/
**/emf-gen/
**/VAADIN/widgetsets/
**/VAADIN/themes/**/addons.scss
**/VAADIN/themes/**/styles.css
generated/
WebContent/
.vaadin-designer2
**/.springBeans
sapl-web/src/main/resources/static/orion/**
sapl-grammar/.antlr-generator-3.2.0-patch.jar
.antlr-generator-3.2.0-patch.jar
phantomjsdriver.log
node_modules/
sapl-web/src/main/java/io/sapl/grammar/web/SAPLWebModule.xtend
sapl-web/src/main/java/io/sapl/grammar/web/SAPLWebSetup.xtend
