# Build output
target/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
.factorypath
.apt_generated/
.metadata/
**/bin/

# VS Code
.vscode/

# IDE plugins
.sonarlint/
**/.springBeans

# Generated code (ANTLR etc.)
**/gen/

# GraalVM native-image tracing agent output
**/native-agent-output/

# Vaadin
**/frontend/generated/
**/dev-bundle/
**/node_modules/
**/package.json
**/package-lock.json
**/VAADIN/widgetsets/
**/VAADIN/themes/**/addons.scss
**/VAADIN/themes/**/styles.css
sapl-benchmark/results/

# Maven
**/.m2/
**/dependency-reduced-pom.xml
sapl-benchmark/bin/
.attach_pid*

# Python bytecode
**/__pycache__/
**/*.pyc
*.lock

.sonarlint/