#xtext-editor {
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 4px;
	border: 1px solid #aaa;
}

div.CodeMirror span.CodeMirror-matchingbracket {
	color: #1b1af9;
	font-weight: bold;
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
	color: #ff2727;
	font-weight: bold;
}