<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<!-- This quiets the logging of the Spring testing initialization, which ignores profiles etc. -->
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="org.springframework" level="error" />
    <logger name="reactor" level="info" />
    <logger name="org.hibernate" level="error" />
    <logger name="io.sapl" level="error" />
    <logger name="okhttp3" level="error" />
    <logger name="reactor.core.publisher.Operators" level="error" />
</configuration>