<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- This quiets the logging of the Spring testing initialization, which ignores profiles etc. -->
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="org.springframework" level="error" />
    <logger name="reactor" level="error" />
    <logger name="org.hibernate" level="error" />
    <logger name="io.sapl" level="off" />
    <logger name="okhttp3" level="error" />
</configuration>