/* Compact tabs for playground */
vaadin-tabsheet {
  --vaadin-tabsheet-gap: 0.25rem;
  --vaadin-tabsheet-padding: 0.25rem 0 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

vaadin-tabs {
  --vaadin-tabs-padding: 0;
}

vaadin-tab {
  --vaadin-tab-padding: 0.125rem 0.375rem;
  --vaadin-tab-line-height: 1.2;
}
