body {
    height: 100vh;
    line-height: 30px;
}

.card {
    background: transparent;
    color: #dadada;
    border: none;
}

.menu {
    background-color: #20232a;
    z-index: 10;
}

.main {
    display: flex;
    justify-content: stretch;
    color: #dadada;
}

h1,h2,h3,h4,h5,h6 {
    color: white;
}

.header-brand-content {
    display: flex;
    align-items: center;
}

.header-brand-content img{
    display: inline-block;
    height: 60px;
    margin-right: 10px;
}

.header-brand-content h2{
    display: inline-block;
}

.sidebar-menu {
    left: 0;

    min-height: 100vh;
    min-width: 300px;
    background-color: rgb(2,131,146);
    padding: 20px 0;
}

.sidebar-menu h3 {
    padding: 10px 20px;
}

.codeblock {
    background-color: #17191e;
    color: white;
    font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;
    padding: 20px;
    border-bottom: 4px solid #235f7b;
    margin: 20px 0 20px 0;
}

.alert {
    border: none;
    border-radius: 0;
}

.alert.alert-danger {
    background-color: #de1f22;
    color: white;
    border-bottom: 4px solid #7c0200;
    padding: 20px;
    margin: 20px 0 20px 0;
}

.sidebar-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu ul li{
    padding: 10px 20px;
    cursor: pointer;
}

.sidebar-menu ul li a{
    color: white;
    text-decoration: none;
}

.sidebar-menu ul li a:hover{
    text-decoration: none;
}

.sidebar-menu ul li:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-menu ul li:active{
    background-color: rgba(255, 255, 255, 0.2);
}

.content {
    padding: 20px 40px;
    background-color: #313540;
    width: 100%;
}

.slider {
    height: 60%;
}

.background-dark {
    background-color: #20232a;
    padding: 50px 0;
}

footer {
    background-color: rgb(2,131,146);
    padding: 30px;
}

.footer-menu {
    list-style: none;
    padding: 0;
}

.slider {
    position: relative;
    background: linear-gradient(56deg, rgba(130, 130, 130, 0.05) 0%, rgba(130, 130, 130, 0.05) 33.333%,rgba(255, 255, 255, 0.05) 33.333%, rgba(255, 255, 255, 0.05) 66.666%,rgba(198, 198, 198, 0.05) 66.666%, rgba(198, 198, 198, 0.05) 99.999%),linear-gradient(29deg, rgba(94, 94, 94, 0.05) 0%, rgba(94, 94, 94, 0.05) 33.333%,rgba(185, 185, 185, 0.05) 33.333%, rgba(185, 185, 185, 0.05) 66.666%,rgba(113, 113, 113, 0.05) 66.666%, rgba(113, 113, 113, 0.05) 99.999%),linear-gradient(129deg, rgba(196, 196, 196, 0.05) 0%, rgba(196, 196, 196, 0.05) 33.333%,rgba(148, 148, 148, 0.05) 33.333%, rgba(148, 148, 148, 0.05) 66.666%,rgba(24, 24, 24, 0.05) 66.666%, rgba(24, 24, 24, 0.05) 99.999%),linear-gradient(76deg, rgba(19, 19, 19, 0.05) 0%, rgba(19, 19, 19, 0.05) 33.333%,rgba(159, 159, 159, 0.05) 33.333%, rgba(159, 159, 159, 0.05) 66.666%,rgba(108, 108, 108, 0.05) 66.666%, rgba(108, 108, 108, 0.05) 99.999%),linear-gradient(112deg, rgba(225, 225, 225, 0.05) 0%, rgba(225, 225, 225, 0.05) 33.333%,rgba(13, 13, 13, 0.05) 33.333%, rgba(13, 13, 13, 0.05) 66.666%,rgba(81, 81, 81, 0.05) 66.666%, rgba(81, 81, 81, 0.05) 99.999%),linear-gradient(90deg, rgb(2,131,146),rgb(2,131,146));
}

.slider .slider-content {
    position: absolute;
    margin: auto;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    text-align: center;
}
