@import "@vaadin/aura/aura.css";

:host {
    --aura-font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    --aura-base-radius: 2;
    --aura-background-color-light: #e2e8f0;
    --aura-accent-color-light: #028392;
    --aura-accent-text-color-light: #026d79;
    --aura-background-color-dark: hsl(210, 10%, 12%);
    --aura-accent-color-dark: hsl(179, 43%, 44%);
    --aura-accent-text-color-dark: rgb(64, 160, 159);
    --aura-red: hsl(3, 68%, 60%);
    --aura-green: hsl(145, 49%, 42%);
}
