name: build

on:
  push:
    branches: [master]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out
      uses: actions/checkout@v2
    
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11
        server-id: github
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
    
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '12'
    
    - name: Cache Maven dependencies
      uses: actions/cache@v2      
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
          
    - name: Build with Maven (JUnit, JaCoCo, Sonar) 
      run: mvn -B org.jacoco:jacoco-maven-plugin:prepare-agent install org.jacoco:jacoco-maven-plugin:report sonar:sonar -Dsonar.host.url=https://sonar.ftk.de -Dsonar.login=${SONAR_TOKEN} -Dsonar.exclusions=**/xtext-gen/**/*,**/xtend-gen/**/*,**/emf-gen/**/*
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
     
    - name: On success, deploy Maven artefacts
      run: mvn -B deploy -DskipTests
      env:
        MAVEN_USERNAME: ${{ secrets.GHUB_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.GHUB_ACCESS_TOKEN }}

    - name: Set up Docker repository
      uses: actions/setup-java@v1
      with:
        java-version: 11
        server-id: docker.pkg.github.com
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
            
    - name: Build and push SAPL Server LT Docker image
      run: |
        mvn -B dockerfile:build -pl sapl-server-lt -Pdocker || exit 1
        mvn -B dockerfile:push -pl sapl-server-lt -Pdocker
      env:
        MAVEN_USERNAME: ${{ secrets.GHUB_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.GHUB_ACCESS_TOKEN }}
       
    - name: Clean up local repository before caching
      run: rm -rf /.m2/repository/io/sapl
